* {
	transition: all 200ms ease-in-out;
}

body {
	--svg-bg-grd-clr: #cccccc;
	--bg-clr: hsla(0, 0%, 100%, 0.8);
	--primary-clr: hsl(0, 0%, 10%);

	--tbl-head-bg-clr: hsla(0, 0%, 100%, 0.2);
	--tbl-odd-bg-clr: hsl(150 70% 80% / 0.1);
	--tbl-even-bg-clr: hsl(40 100% 80% / 0.1);
	--tbl-row-hov-clr: hsl(100 100% 80% / 0.5);
	--prop-clr: hsl(210 100% 30%);
	--desc-clr: hsl(0 0% 30%);
	--mono-font: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
		'DejaVu Sans Mono', monospace;
	font-family: system-ui, sans-serif;
}

body.dark {
	--svg-bg-grd-clr: #333333;
	--bg-clr: hsla(0, 0%, 0%, 0.8);
	--primary-clr: hsl(0, 0%, 90%);

	--tbl-head-bg-clr: hsl(0 100% 0% / 0.2);
	--tbl-odd-bg-clr: hsl(150 70% 20% / 0.1);
	--tbl-even-bg-clr: hsl(40 100% 20% / 0.1);
	--tbl-row-hov-clr: hsl(100 100% 20% / 0.5);
	--prop-clr: hsl(210 100% 70%);
	--desc-clr: hsl(0 0% 70%);
}

.background-svg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	z-index: -1;
	background-image: radial-gradient(
			circle at 16% 83%,
			rgba(148, 148, 148, 0.06) 0%,
			rgba(148, 148, 148, 0.06) 50%,
			rgba(63, 63, 63, 0.06) 50%,
			rgba(63, 63, 63, 0.06) 100%
		),
		radial-gradient(
			circle at 68% 87%,
			rgba(66, 66, 66, 0.06) 0%,
			rgba(66, 66, 66, 0.06) 50%,
			rgba(105, 105, 105, 0.06) 50%,
			rgba(105, 105, 105, 0.06) 100%
		),
		radial-gradient(
			circle at 38% 50%,
			rgba(123, 123, 123, 0.06) 0%,
			rgba(123, 123, 123, 0.06) 50%,
			rgba(172, 172, 172, 0.06) 50%,
			rgba(172, 172, 172, 0.06) 100%
		),
		linear-gradient(90deg, var(--svg-bg-grd-clr), var(--svg-bg-grd-clr));
}

.api {
	& > div {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding: 0.5rem;

		&.head {
			font-weight: bold;
			background-color: var(--tbl-head-bg-clr);
			border-radius: 5px 5px 0 0;
		}

		&.row {
			&:nth-child(even) {
				background-color: var(--tbl-even-bg-clr);
			}

			&:nth-child(odd) {
				background-color: var(--tbl-odd-bg-clr);
			}

			&:last-child {
				border-radius: 0 0 5px 5px;
			}

			& > span {
				&:first-child {
					font-family: var(--mono-font);
					color: var(--prop-clr);

					& > strong {
						color: var(--primary-clr);
					}
				}

				&:nth-child(3) {
					color: var(--desc-clr);
					font-family: var(--mono-font);
				}

				&:last-child {
					grid-area: 2/1/3/4;
					color: var(--desc-clr);

					& > strong {
						padding-inline-end: 0.5ch;
					}
				}
			}

			&:hover {
				background-color: var(--tbl-row-hov-clr);
			}
		}
	}
}
