.api>div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5rem;
}

.api .head {
  font-weight: bold;
  background-color: var(--tbl-head-bg-clr);
  border-radius: 5px 5px 0 0;
}

.api .row:nth-child(even) {
  background-color: var(--tbl-even-bg-clr);
}

.api .row:nth-child(odd) {
  background-color: var(--tbl-odd-bg-clr);
}

.api .row:hover {
  background-color: var(--tbl-row-hov-clr);
}

.api .row:last-child {
  border-radius: 0 0 5px 5px;
}

.api .row span:first-child {
  font-family: 'Courier New', Courier, monospace;
  color: var(--prop-clr);
}

.api .row span:first-child strong {
  font-family: inherit;
  color: var(--primary-clr);
}

.api .row span:nth-child(3) {
  color: var(--desc-clr);
  font-family: 'Courier New', Courier, monospace;
}

.api .row span:last-child {
  grid-area: 2/1/3/4;
  color: var(--desc-clr);
}